<app-navbar [userId]="userId"></app-navbar>
<div class="container">
    <div class="header">
        <h1>TRAINERS</h1>
    </div>
    <div class="trainers">
        <div class="trainer" *ngFor="let trainer of trainers">
            <h3>First-Name : {{trainer.firstname}} </h3>
            <h3>Last-Name : {{trainer.lastname}} </h3>
            <h3>Email : {{trainer.email}}</h3>
            <div class="buttons">
                <button class="button1" (click)="addTrainer(trainer.trainerId)">Book</button>
            </div>
        </div>
    </div>
</div>
