.container{
    width: 100%;
    height: 100%;
   background-image: url('../../../assets/d1.jpg'); 
   background-color: whitesmoke;    
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    color: beige;
    opacity: 0.7;
}

.trainers{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    border-top: 2px solid  black;
    gap: 20px;
}

.trainer{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid #cfd4e0;
    background-color: beige;
    opacity: 0.7;
    color:#0F0F0F;
    border-radius: 5px;
}

.button1{
    width:100px;
    color:#0F0F0F;;  
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid  #0F0F0F;
    cursor: pointer;
    background: none;
}

.buttons{
    margin-top: 15px;
    display: flex;
}

/* .button1{
    background-color: rgb(240, 207, 164);
    color:rgb(126, 25, 25);  
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
} */


