.container{
  width: 100%;
  height: 100%;
 background-image: url('../../../assets/b2.jpg');
 background-position: right;
 background-repeat: no-repeat;
 background-size: contain;
 background-color: #0A0A0A;
 padding: 50px;

}

.container::-webkit-scrollbar{
  display: none;
}
.con1{
  width: 70%;
  background-color: rgba(255,255,255,0.13);
  backdrop-filter:blur(10px);
  height: 100%;
  border-radius: 15px;
 
}

.header{
  width: 75%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  color: rgb(8, 148, 26); 
}

label{
  font-size: 20px;
}

.container1{
  width: 80%;
  margin: auto; 
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  scrollbar-width: 0px;
}

.profile{
  width: 75%;
  margin-left: 45px;
  border-top: 2px solid  black; 
}

.slot{
  width: 75% ;
  margin-left: 45px;
  border-top: 1px solid   black; ; 
}

.trainer{
  width:  75%;
  margin-left: 45px;
  border-top: 1px solid   black; ; 
}

.button1{
  width:100px;
  background-color: rgb(255, 250, 250);
  color:rgb(126, 25, 25);  
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.buttons{
  margin-top: 15px;
  display: flex;
}
